# dependencies
node_modules
frontend/node_modules

# build
dist
build

# env
.env
.env.local

# misc
.DS_Store
.vscode
*.log
#ignore resume directory in public folder
public/resume
public/resume/*
public/ *.png
